/* SQUARED TWO */
.checkbox {
  position: relative;

  input[type=checkbox] {
    display: none;
  }

  label {
    cursor: pointer;
    position: relative;
    line-height: 24px;
    padding-left: 30px;

    &:before {
      background: #F5F8FA;
      border: solid 1px #D3E2E5;
      border-radius: 4px;
      content: '';
      display: block;
      position: absolute;
      width: 24px;
      height: 24px;
      left: 0px;
      top: 0px;
    }

    &:after {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
      opacity: 0;
      content: '';
      position: absolute;
      width: 9px;
      height: 5px;
      background: transparent;
      top: 7px;
      left: 7px;
      border: 3px solid #fcfff4;
      border-top: none;
      border-right: none;

      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }

    &:hover::after {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
      filter: alpha(opacity=30);
      opacity: 0.3;
    }
  }

  input[type=checkbox]:checked + label:before {
    background-color: $forms-success-color;
  }
  
  input[type=checkbox]:checked + label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
  }
}