.page-landing {
  $root: &;
  background: linear-gradient(329.54deg, #29B6D1 0%, #00C7C7 100%);
  
  width: 100vw;
  height: 100vh;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  .content-wrapper {
    width: 100%;
    max-width: 1100px;
    height: 100%;
    max-height: 674px;
    
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    
    position: relative;

    background: url(../../images/Landing.svg) no-repeat 80% center;

    #{$root}-header{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      width: 100%;

      img {
        margin-right: 64px;
      }

      .btn {
        margin-left: auto;
      }
    }
    
    main{ 
      max-width: 350px;
      h1 {
        font-size: 76px;
        font-weight: 800;
        line-height: 70px;
      }
      
      p {
        margin-top: 40px;
        font-size: 24px;
        line-height: 34px;
      }
    }

    .enter-app {
      bottom: 0;
      height: 80px;
      position: absolute;
      right: 0;
      width: 80px;
    }
  }
}