#page-map {
  width: 100vw;
  height: 100vh;

  position: relative;
  display: flex;

  aside {
    background: linear-gradient(329.54deg, #29B6D1 0%, #00C7C7 100%);
    width: 440px;
    padding: 80px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h2 {
      font-style: 40px;
      font-weight: 800;

      line-height: 42px;
      margin-top: 64px;
    }

    p {
      line-height: 28px;
      margin-top: 24px;
    }

    footer {
      display: flex;
      flex-direction: column;

      line-height: 24px;

      strong {
        font-weight: 800;
      }
    }
  }

  .leaflet-container {
    z-index: 0;
  }

  .create-orphanage {
    position: absolute;
    bottom: 20px;
    right: 20px;

    height: 64px;
    width: 64px;
    border-radius: 20px;
    background-color: #15c3d6;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color 0.2s;
    z-index: 2;

    &:hover {
      background-color: #17d6eb;
    }
  }

  .map-popup {
    font-family: "Nunito";
    .leaflet-popup{
      &-content-wrapper {
        background: rgba(255,255,255,.8);
        box-shadow: none;
        border-radius: 20px;
      }

      &-content {
        color: #0089a5;
        font-size: 20px;
        font-weight: 700;
        margin: 8px 12px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
          width: 40px;
          height: 40px;
          background: #15c3d6;
          box-shadow: 17.3px 27.6px 41.5px rgba(23,142,166,.16);
          border-radius: 12px;

          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      &-tip-container {
        display: none;
      }
    }
  }
}