$success-color: #37C77F;
$warning-color: #FFF666;
$error-color: #D6487B;

// forms
$forms-base-color: #5C8599;
$forms-border-color: #D3E2E5;
$forms-background-color: #F5F8FA;
$forms-success-color: $success-color;
$forms-success-color-disabled: rgba($success-color, 0.5);
$forms-success-color-hover: darken($success-color, 5%);
$forms-error-color: $error-color;

//buttons
$btn-primary: #FFF666;
$btn-primary-text: #0089A5;
$btn-primary-hover: #96feff;
$btn-primary-hover-text: #0089A5;

$btn-secondary: #12D4E0;
$btn-secondary-text: white;
$btn-secondary-hover: #96FEFF;
$btn-secondary-hover-text: #15C3D6;

// Messages - Success
$messages-success-background: $success-color;
$messages-success-btn: #31B272;
$messages-success-btn-hover: #3BD689;

// Messages - Warning
$messages-warning-background:  #FFF666;
$messages-warning-btn: #d6ba3a;
$messages-warning-btn-hover: #96feff;
$messages-warning-btn-hover-text: #0089A5;


// Messages - Error
$messages-error-background: #FF669D;
$messages-error-btn: #D6487B;
$messages-error-btn-hover: #FF8FB8;
$messages-error-btn-hover-text: #B9406B;


